<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="bform">
                <div class="add-form-container">
                    <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
                        method="POST">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title"
                            value="<% if (editing) { %><%= product.title %><% } %>" />

                        <label for="imageUrl">Image URL</label>
                        <input type="text" name="imageUrl" id="imageUrl"
                            value="<% if (editing) { %><%= product.imageUrl %><% } %>" />

                        <label for="price">Price</label>
                        <input type="number" name="price" id="price"
                            value="<% if (editing) { %><%= product.price %><% } %>" />

                        <label for="description">Description</label>
                        <textarea name="description" id="description" rows="5"
                            cols="45"><% if (editing) { %><%= product.description %><% } %></textarea>

                        <% if (editing) { %>
                            <input type="hidden" value="<%= product._id %>" name="productId">
                            <% } %>
                                <button class="fbtn" type="submit">
                                    <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
                                </button>
                    </form>
                </div>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>