<%- include('../includes/head.ejs') %>

    <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length> 0) { %>
                <% products.forEach(p=> { %>
                    <div class="products-flex">
                        <div class="products-image">
                            <div>
                                <img src="<%= p.productId.imageUrl %>" alt="<%= p.productId.title %>">
                            </div>
                        </div>
                        <div class="products-product-item">
                            <div class="products-header">
                                <h1 class="products-title">
                                    <%= p.productId.title %>
                                </h1>
                            </div>
                            <div class="products-content">
                                <div>
                                    <h2 class="products-price">
                                        $ <%= p.productId.price %>
                                    </h2>
                                </div>
                                <div>
                                    <p class="products-description">
                                        <%= p.productId.description %>
                                    </p>
                                </div>
                            </div>
                            <div class="products-btns">
                                <form action="/wishlist-remove-item" method="POST">
                                    <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                    <button type="submit">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="no-product">
                                <h1>No Houses in Wishlist!</h1>
                            </div>
                            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>